<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.member.MemberMapper">
	<resultMap id="member" type="com.myshop.member.Member">
		<result property="member_id" column="member_id" />
		<result property="member_pwd" column="member_pwd" />
		<result property="member_nickname" column="member_nickname" />
		<result property="member_phone" column="member_phone" />
		<result property="member_zipcode" column="member_zipcode" />
		<result property="member_address1" column="member_address1" />
		<result property="member_address2" column="member_address2" />
		<result property="member_birty" column="member_birty" />
		<result property="joinDate" column="joinDate" />
		<result property="member_level" column="member_level" />
		<result property="member_point" column="member_point" />
		<result property="member_block" column="member_block" />
		<result property="member_type" column="member_type" />
	</resultMap>


	<insert id="insert" parameterType="com.myshop.member.Member">
		insert into my_member values(#{member_id}, #{member_pwd}, #{member_nickname},
		#{member_phone}, #{member_zipcode}, #{member_address1},
		#{member_address2}, #{member_birty}, sysdate, 1, 0, 0, 0)
	</insert>
	<select id="select" resultType="com.myshop.member.Member">
		select * from my_member
	</select>
	<select id="selectById" parameterType="String"
		resultType="com.myshop.member.Member">
		select * from my_member where member_id = #{member_id}
	</select>
	<select id="selectByNick" parameterType="String"
		resultType="int">
		select count(*) from my_member where member_nickname like
		#{member_nickname}
	</select>
	<update id="update" parameterType="com.myshop.member.Member">
		update my_member set
		member_zipcode = #{member_zipcode}, member_address1 =
		#{member_address1}, member_address2 = #{member_address2}
		where
		member_id like #{member_id}
	</update>
	<update id="updatePwd" parameterType="com.myshop.member.Member">
		update my_member set
		member_pwd = #{member_pwd} where member_id like #{member_id}
	</update>
	<update id="updateLevel" parameterType="com.myshop.member.Member">
		update my_member set
		member_level = #{member_level} where member_id like #{member_id}
	</update>
	<update id="updatePoint" parameterType="com.myshop.member.Member">
		update my_member set
		member_point = #{member_point} where member_id like #{member_id}
	</update>
	<update id="updateBlock" parameterType="com.myshop.member.Member">
		update my_member set
		member_block = #{member_block} where member_id like #{member_id}
	</update>
	<delete id="delete" parameterType="String">
		delete from my_member where
		member_id like #{member_id}
	</delete>
</mapper>