<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.review.ReviewMapper">
	<resultMap id="review" type="com.myshop.review.Review">
		<result property="num" column="num" />
		<result property="p_num" column="p_num" />
		<result property="mem_id" column="mem_id" />
		<result property="star" column="star" />
		<result property="content" column="content" />
		<result property="writeDate" column="writeDate" />
	</resultMap>

	<insert id="insert" parameterType="com.myshop.review.Review">
		insert into my_review
		values(seq_my_review.nextval, #{p_num}, #{mem_id}, #{star},
		#{content}, sysdate)
	</insert>
	<select id="selectByNum" parameterType="int"
		resultType="com.myshop.review.Review">
		select * from my_review where p_num = #{p_num} order by writeDate desc
	</select>
	<update id="update" parameterType="com.myshop.review.Review">
		update my_review set content = #{content} where num = #{num}
	</update>
	<delete id="delete" parameterType="int">
		delete from my_review where num = #{num}
	</delete>
</mapper>